.outWrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 900px;
}

.mainWrapper {
    position: relative;
    background-color: white;
    padding-bottom: 10vh;
}

.imageWrapper {
    position: relative;
    margin: 10vw 10vw 0 10vw;
    user-select: none;
    background-color: white;
    border-radius: 20px;
}

.lottieAnimationWrapper {
    z-index: 9999;
    background-color: white;
}

.lottieAnimation {
    position: absolute;
    top:0px;
    width: 90%;
    height: 90%;
    /* 추가된 스타일 */
  }

.headerMessageWrapper {
    padding-top: 3vh;
    padding-bottom: 2vh;
    font-family: 'Reenie Beanie', serif;
    font-size: 2.6rem;
    user-select: none;
    color: #47704a;
    background-color: #eb934b;
    // background-color: #eb934b;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.textWrapper {
    width: 70vw;
}

.daisyWrapper {
    width: 60px;
    height: 60px;
} 


.imageTextWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}