.mapWrapper {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Nanum DdoBagDdoBag',sans-serif;
    font-weight: bold;
}

.titleWrapper {
    font-size: 42px;
}

.detailInformationWrapper {
    display: flex;
    flex-direction: column;
    padding: 20px
}

.detailInformationPhone {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.detailInformationPhoneNumberSection {
    width: 85%;
    display: flex;
    justify-content: left;
    font-size: 24px;
    font-family: 'Nanum DdoBagDdoBag',sans-serif;
}

.detailInformationPhoneICONSection {
    display: flex;
    justify-content: center;
    width: 15%;
    width: 24px;
    height: 24px;
}

.detailInformationMap {
    display: flex;
    flex-direction: row;
}

.detailInformationMapWithMapDetail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mapGoButtonStyle {
    margin: 10px;
}

.mapDetailInfomationDescription {
    display: flex;
    flex-direction: column;
}

.mapDetailInfomationDescriptionItem {
    display: flex;
    flex-direction: column;
}

.mapDetailInfomationDescriptionItemSubject {
    font-size: 24px;
    font-family: 'Nanum DdoBagDdoBag',sans-serif;
    text-align: left;
    padding-top: 4px;
    padding-bottom:2px;
}

.mapDetailInfomationDescriptionItemExplain {
    font-size: 20px;
    font-weight: normal;
    font-family: 'Nanum DdoBagDdoBag',sans-serif;
    text-align: left;
}