.mapWrapper {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Nanum DdoBagDdoBag',sans-serif;
    font-weight: bold;
}

.titleWrapper {
    font-size: 42px;
}

.detailInformationWrapper {
    display: flex;
    flex-direction: column;
    padding: 20px
}


.detailInformationPhone {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
.detailInformationPhoneICONSection
{
    width: 24px;
    height: 24px;
}
.detailInformationPhoneNumberSection {
    width: 80%;
    display: flex;
    justify-content: left;
    font-size: 24px;
    font-family: 'Nanum DdoBagDdoBag',sans-serif;
}

.detailInformationPhoneButton {
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    display: flex;
    font-family: 'Nanum DdoBagDdoBag',sans-serif;
    justify-content: center;
    width: 20%;
    font-size: 22px;
    font-weight: bold;

    &:hover {
        background-color: #e0e0e0;
    }
}

.detailInformationMap {
    display: flex;
    flex-direction: row;
}

.detailInformationMapWithMapDetail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mapGoButtonStyle {
    margin: 10px;
}


.mapDetailInfomationDescription {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.mapDetailInfomationDescriptionItem {
    display: flex;
    flex-direction: column;
}

.mapDetailInfomationDescriptionItemSubject {
    font-size: 24px;
    font-family: 'Nanum DdoBagDdoBag',sans-serif;
    text-align: left;
    padding-top: 4px;
    padding-bottom:2px;
}

.mapDetailInfomationDescriptionItemExplain {
    font-size: 20px;
    font-weight: normal;
    font-family: 'Nanum DdoBagDdoBag',sans-serif;
    text-align: left;
}

.mapIconWrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}