.profile {
    width: 100%; 
    max-width: 420px;
    display: flex;
    flex-direction: column;
}

.idSection {
    width: 100%;
    height: 4vh;
    display: flex;
    flex-direction: row;
}

.idWrapper {
    width: 75%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.backButton {
    width: 15vw;
}

.profileTop {
    display: flex;
    flex-direction: row;
    width: 100%;
}
  
.profileImage {
    float: left;
    width: 25vw;
    height: 25vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px none;
    border-radius: 50%;
    margin-left: 5vw;
}



.profileStats {
    width: 70vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.profileStatsItemBox {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
}

.profileStatsItemNumber {
    font-family: 'SF UI Display';
    font-weight: bold;
    font-size: 1rem;
}

.profileStatsItemValue {
    font-family: 'SF UI Display';
    font-size: 0.8rem;
}

.profileBottom {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profileTextArea {
    width: 90%;
    text-align: left;
    padding: 5vw;
    font-family: 'SF UI Display';   
    user-select: none;
}

.profileButtonArea {
    width: 100%;
    display: flex;
}

@mixin sharedButton {
    border: 1px none;
    border-radius: 10px;
    font-family: 'SF UI Display';
    width: 47%;
    margin-left: 2%;
    font-size: 0.8rem;
    height: 24px;
    user-select: none;
}

.followButtonStyle {
    @include sharedButton;
    background-color: #208ce7;
    color: white;
}

.messageButtonStyle {
    @include sharedButton;
    background-color: #e9e9e9;
    color: black;
}
