.messageWrapper {
    text-align: left;
    
    background-color: white;
    color: black;
    font-family: 'Nanum SeongSirCe', serif;
    font-size: 24px;
    
    @media screen and (max-width: 400px) {
        font-size: 24px * 0.9;
    }

    @media screen and (max-width: 300px) {
        font-size: 24px * 0.7;
    }
    max-height: 220px;
    overflow: auto;

    letter-spacing: 1px;
    user-select: none;
}

.textWrapper {
    text-align: center;
    height: 220px;
    min-height: 220px;
    max-height: 220px;
}