.accordion {
    border: 1px none;
    border-radius: 4px;
    font-family: 'Nanum DdoBagDdoBag',sans-serif;
    
  
    &__header {
      background-color: #FFFFFF;
  
      &:hover {
        background-color: #e0e0e0;
      }
    }
  
    &__body {
        background-color: #fff;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
      }
    
    &__body.openBody {
        max-height: 500px;
    }
  
    &.open {
      .accordion__body {
        padding-left: 20px;
        max-height: 500px; // 이 값을 조절하여 보여지는 내용에 맞게 설정
      }
    }
  }

  .headerText {
    text-align: left;
    padding-left :10px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Nanum DdoBagDdoBag',sans-serif;
  }