@keyframes dialogFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

.dialogWrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    opacity: 0; /* 초기 투명도 설정 */
    animation: dialogFadeIn 1.1s ease-in-out 1.3s forwards; /* 애니메이션 적용 */
  }


  @keyframes dialogContentFadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.9;
    }
  }
  
  
  .dialogContentWrapper {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 300px;
    min-height: 70px;
    max-height: 70px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    opacity: 0;
    animation: dialogContentFadeIn 1.2s ease-in-out 1.5s forwards; /* 애니메이션 적용 */
    
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .dialogContentTextContent {
      font-family: 'MapoGoldenPier', serif;
      margin-top: 15px;
      text-align: center;
  }

  .dialogContentCheckBoxContent {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-top: 20px;
  }

  .checkboxStyles {
      width: 20px;
  }

  .labelStyle {
    font-family: 'MapoGoldenPier', serif;
    font-size: 12px;
    align-items: center;
    display: flex;
    width: 80px;
    
  }
  