
@font-face {
    font-family: 'MapoFlowerIsland';
    src: url('../resource/font/subset-MapoFlowerIsland.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MapoGoldenPier';
    src: url('../resource/font/subset-MapoGoldenPier.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GangwonEduAll';
    src: url('../resource/font/subset-GangwonEduAllBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



.mainWrapper {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.centerDivision {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    max-width: 440px;
    max-height: 100%;
    margin: 0 auto;
}
