
@font-face {
    font-family: 'MapoFlowerIsland';
    src: url('../resource/font/subset-MapoFlowerIsland.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MapoGoldenPier';
    src: url('../resource/font/subset-MapoGoldenPier.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GangwonEduAll';
    src: url('../resource/font/subset-GangwonEduAllBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nanum SeongSirCe';
    src: url('../resource/font/subset-NanumSeongSirCe.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Reenie Beanie';
    src: url('../resource/font/subset-ReenieBeanie.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../resource/font/subset-SFUIDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nanum DdoBagDdoBag';
    src: url('../resource/font/subset-NanumDdoBagDdoBag.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sandoll Samliphopangche TTF Ou';
    src: url('../resource/font/subset-SDSamliphopangcheTTFOutline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Consolas';
    src: url('../resource/font/subset-Consolas.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.mainWrapper {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.centerDivision {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    max-width: 440px;
    height: 100%;
    max-height: 800px;
    margin: 0 auto;
}
