.cmdWindow {
    width: 100%;
    height: 30%;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    margin: 10%; 
    border-radius: 10px;
    font-family: 'Consolas', sans-serif;
  
    .titleBar {
      display: flex;
      align-items: center;
      height: 30px;
      background-color: #333;
      padding: 0 10px;
      user-select: none;
  
      .titleBarBtns {
        display: flex;
        gap: 6px;
  
        .titleBarBtn {
          width: 12px;
          height: 12px;
          border-radius: 50%;
        }
  
        .close {
          background-color: #ff5f56;
        }
  
        .minimize {
          background-color: #ffbd2e;
        }
  
        .expand {
          background-color: #27c93f;
        }
      }
  
      .titleBarTitle {
        margin-left: 2rem;
        color: #fff;
        font-size: 0.8rem;
      }
    }
  
    .content {
      padding-left: 1.2rem;
      padding-top: 2rem;
      text-align: left;
      height: calc(100% - 30px);
      
      color: #fff;
      background-color: #000;
    }
  }
  
  .outterWrapper {
    width: 100%;
    display: flex;
    max-width: 440px;
  }


  .dialogWrapper {
      user-select: none;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 999999;
      opacity: 0.8; /* 초기 투명도 설정 */
    }